{% extends 'base.html' %}

{%block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{%block body %}
    <div class="container p-3 p-lg-5"> 
        <form class="row align-items-center" action="/" method="POST">   
            <div class="col-sm-3 form-group">
                <label for="Weight-form">Weight</label>
                <div class="input-group" style="width: 150px;">
                    <input type="number" class="form-control" aria-describedby="weight-input-group" name="weight-input" id="weight-input">
                    <div class="input-group-append">
                        <span class="input-group-text" id="weight-input-group">kg</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label for="date-form">Measure Date</label>
                <input type="date" class="form-control" style="width: 150px;" name="date-input" id="date-input">
            </div>
            <div class="col-sm-3 text-left">
                <button class="btn btn-primary" type="submit">Add Measure</button>
            </div> 
        </form>  
        <table class="table p-lg-5">
            <thead>
                <tr>
                    <th scope="weight">Weight</th>
                    <th scope="date">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for measure in measures %}
                    <tr>
                        <th>{{measure.weight}}</th>
                        <th>{{measure.created_at}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Success and Error messages-->
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                {% for message in messages %}                
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>                    
                {% endfor %}            
            {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                {% for message in messages %}                
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}            
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}